html,
body {
    height: 100%;
    margin: 0;
    background-color: black;
    scroll-behavior: smooth;
}

main {
    width: 100%;
    height: 100vh; /* Utilisation de 100vh pour remplir la hauteur de la fenêtre */
    display: flex;
   
}

.logo-site{
    margin-left: 3%;
}

.link-post a{
    background-color: black;
}

.menu-mobile{
    visibility: hidden;
}

.theme-color{
    margin-right: 5%;
}

.dark-light{
    color: yellow;
    margin-left: 70%;
    cursor: pointer;
}

.bar-head{
    width: 100%;
    height: 50px;
    position: fixed;
    background-color: rgba(39, 38, 38, 0.376);
    display: flex;
    justify-content: space-between;
    align-items: center;
    filter: brightness(50%);
    filter: hue-rotate();
    backdrop-filter: blur(1rem);
    -webkit-backdrop-filter: blur(1rem);
    z-index: 9999;
}

/* CSS pour la section scrollable */
.scrollable {
    width: 100%;
    max-height: 90vh; /* Utilisez 90vh au lieu de 100vh pour éviter que le contenu soit masqué */
    overflow-y: auto; /* Permet le défilement vertical si le contenu dépasse la hauteur max */
    padding: 2%;
    display: flex;
    flex-direction: column;
    gap: 20px; /* Espace entre les éléments */
    margin-top: 5%;
    border-bottom: 1px solid rgba(211, 211, 211, 0.207);
    
}

/* Centrage des éléments dans la colonne sans couper le contenu */
.scrollable > * {
    margin: 0 auto;
}

.strong{
    color: white;
}
.twitter-post {
    
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: black; /*rgb(128, 78, 78)*/
    color: white;
    cursor: pointer;
    border: 1px solid rgb(0, 0, 0);
}

.tweet-post {
    transition: border 0.3s ease; /* Ajout d'une transition pour un effet plus fluide */
}

.twitter-post:hover {
    border: 1px solid white; /* Ajoute une bordure blanche au survol */
}

.sidebar {
    width: 250px; /* Largeur fixe pour la barre latérale */
    background-color: black; /* Couleur de fond similaire à Twitter */
    height: 500px;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    flex-shrink: 0; /* Évite que la barre latérale rétrécisse */
    position: absolute;
    margin-left: 3%;
    margin-bottom: 18%;
    border: 1px solid white;
    color: white;
    overflow-y: auto;
    scroll-behavior: smooth;
    
}





.search-box {
    display: flex;
    align-items: center;
    margin-bottom: 20px; /* Espacement entre la recherche et les infos */
}

.search-box input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.search-box i {
    margin-left: 10px;
    cursor: pointer;
}

.profile-info {
    margin-bottom: 20px; /* Espacement entre la section profil et les posts */
    cursor: pointer;
}

.profile-info h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    cursor: pointer;
}

.recent-posts h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
   
}

.post {
    background-color: black;
    padding: 10px;
    margin: 5px 0;
    
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(211, 211, 211, 0.19);
}

.box{
    background-color: black;
    color: white;
}


header{
    width: 100%;
    height: 250px;
    margin-bottom: 15%;
   
    
}

.test{
  
    height: 360px;
    padding: 4%;
    backdrop-filter: blur(1rem);
    -webkit-backdrop-filter: blur(1rem);
    background-color: #1d1c1ca3;
    margin-bottom: 15%;
    padding-left: 2%;
    padding-right: 2%;
    border-bottom: 1px solid rgba(211, 211, 211, 0.207);
   
}
.imge-fond{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imge-fond img {
    width: 18%;
    border: 1px solid white;
    background-color: 0 0 5px #00FFFF, 0 0 10px #00FFFF, 0 0 15px #00FFFF;
    animation: neonGlow 5.5s infinite alternate;
}

.box-connexion{
    background-color: black;
    color: white;
}


@keyframes neonGlow {
    0% {
        box-shadow: 0 0 5px #b1bdbd, 0 0 10px #00FFFF, 0 0 15px #00FFFF, 0 0 20px #00FFFF, 0 0 30px #00FFFF;
        border-color: #00FFFF;
    }
    10% {
        box-shadow: 0 0 2px #00FFFF, 0 0 5px #00FFFF, 0 0 8px #00FFFF, 0 0 10px #00FFFF;
        border-color: #007777;
    }
    50% {
        box-shadow: 0 0 1px #00FFFF, 0 0 2px #00FFFF, 0 0 5px #00FFFF;
        border-color: #005555;
        opacity: 0.8;
    }
}

.contenair-info{
    display: flex; /* Utilisation de flexbox pour un meilleur alignement */
    flex-direction: column; /* Aligne les enfants en colonne */
    align-items: flex-start; /* Aligne tous les éléments à gauche */
    padding: 20px; 
    margin-bottom: 8%;
    border-bottom: 1px solid rgba(105, 103, 103, 0.348);
   
    margin-bottom: 20%;
    margin-left: 4%;
 


}

    


.photo-profile img {
    width: 80px; /* Largeur de la photo de profil */
    height: 80px; /* Hauteur de la photo de profil */
    border-radius: 50%; /* Rendre l'image ronde */
    border: 3px solid #007BFF; /* Bordure bleue autour de l'image */
}

.pseudo {
    font-size: 10px; 
    color: white;
    font-weight: bold; /* Mettre le pseudo en gras */
    margin: 10px 0; /* Espacement vertical */
}

.text-header {
    font-size: 13px; /* Taille du texte pour la description */
    color: #ffffff; /* Couleur gris clair */
    line-height: 1.5; /* Hauteur de ligne pour plus d'espace */
}

footer{
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
  
}

.mail{
    width: 100%;
    height: 25px;
    display: flex;
    justify-content: center;

}



.avatar {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 4%;
}

time{
    font-size: 10px;
    

}

.username {
    font-weight: bold;
}
.tweet-text {
    margin-top: 10px;
    
}

.image-tweet{
    width: 95%;
}



time{
    font-size: 10px;
}

.position-media{
    display: flex;
    flex-direction: column;
}

.user-info{
    display: flex;
    align-items: center;
   
}

.projects-sidebar {
    width: 250px; /* Largeur fixe pour la sidebar des projets */
    height: 500px;
    color: white;
    border: 1px solid white;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);

    position: absolute;
    margin-left: 74%;
    margin-bottom: 18%;
    overflow-y: auto;
    scroll-behavior: smooth;
}

.projects-sidebar h2 {
    font-size: 1.5em;
    margin-bottom: 20px; /* Espacement sous le titre principal */
}

.project-category {
    margin-bottom: 20px; /* Espacement entre les catégories */
}

.project-category h3 {
    font-size: 1.3em;
    margin-bottom: 10px; /* Espacement sous les titres des catégories */
}

.project-category ul {
    list-style-type: none; /* Suppression des puces de liste */
    padding-left: 0; /* Suppression du padding gauche */
}

h3{
    font-size: 2px;
}

p{
    font-size: 13px;
}

.titre-recents{
    margin-top: 5%;
}

.project-category li {
    margin: 5px 0; /* Espacement entre les items de liste */
}

.project-category a {
    text-decoration: none; /* Supprimer le soulignement des liens */
    color: #007bff; /* Couleur du lien */
    transition: color 0.3s; /* Transition pour l'effet hover */
}

.project-category a:hover {
    color: #0056b3; /* Couleur du lien au survol */
}

.icon-info{
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    width: 95%;
    padding: 1%;
}

.partage{
    cursor: pointer;
}


.footer-logo ul {
    display: flex;
    gap: 2rem;
    margin-top: 5%;

}


/*page detail */

.apropos{
    width: 100%;
    display: flex;
    justify-content: center;
    
    
}



.box-apropos {
    max-width: 60%;
    margin: 20px auto;
    padding: 25px;
    background-color: #f9f9f9;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    line-height: 1.6;
    margin-top: 4%;
}

.box-apropos h2 {
    font-size: 2.2em;
    color: #333;
    margin-bottom: 15px;
    border-bottom: 2px solid #7c1af0; /* Couleur d'accentuation */
    padding-bottom: 5px;
}

.box-apropos h3 {
    font-size: 1.5em;
    color: #7c1af0; /* Couleur d'accentuation */
    margin-top: 25px;
    margin-bottom: 10px;
}

.box-apropos p {
    font-size: 1em;
    color: #555;
    margin-bottom: 15px;
}

.box-apropos strong {
    color: #7c1af0;
}

.showmodal{
    visibility: visible;
    z-index: 9999;
    position: absolute;
    margin-left: 18%;
    margin-bottom: 10%;

}

.overlay {
    position: fixed; /* Reste fixe lors du défilement */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Couleur sombre avec transparence */
    z-index: 999; /* Positionner derrière la modale */
    display: none; /* Cacher par défaut */
    backdrop-filter: blur(1rem);
    -webkit-backdrop-filter: blur(1rem);
}





.box-apropos p{
    color: white;
    
}

.modelHide{
   display: none;
}

/* Montre la modale et l'overlay */
.show {
    display: block; /* Affiche l'overlay */
}

.close{
    cursor: pointer;
}

.connexion-close{
    width: 100%;
    margin-bottom:12% ;
}

.box-connexion{
    max-width: 60%;
    height: 400px;
    margin: 20px auto;
    padding: 25px;
    background-color: #f9f9f9;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    line-height: 1.6;
    margin-top: 4%;
    background: white; /* Fond blanc pour la modal */
    border-radius: 8px; /* Coins arrondis */
    
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3); /* Ombre */
    width: 400px; /* Largeur de la modal */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
}


.connexion {
    background-color: black;
    color: white;
}

/* Styles du titre de la modal */
.box-connexion h2 {
    margin: 0 0 20px; /* Espacement sous le titre */
    text-align: center; /* Centre le titre */
}

/* Styles des groupes de formulaire */
.form-group {
    margin-bottom: 5px; /* Espacement entre les champs de formulaire */
}

/* Styles des labels */
label {
    display: block; /* Affichage en bloc pour les labels */
    margin-bottom: 5px; /* Espacement sous le label */
}

/* Styles des champs d'entrée */
input[type="text"],
input[type="password"] {
    width: 100%; /* Champ plein largeur */
    padding: 5px; /* Espacement interne */
    border: 1px solid #ccc; /* Bord gris */
    border-radius: 4px; /* Coins arrondis */
    box-sizing: border-box; /* Inclure le padding et la bordure dans la largeur totale */
    
}

.project {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: flex-start;
}
.project-media {
    flex: 1;
    width: 100%;
    max-width: 300px; /* Limite la largeur max */
    border-radius: 8px; /* Coins arrondis */
    margin-bottom: 1em;
}
.project-content {
    flex: 2;
}

.post-cliked{
    width: 100%;
    max-height: 80vh; /* Utilisez 90vh au lieu de 100vh pour éviter que le contenu soit masqué */
    overflow-y: auto; /* Permet le défilement vertical si le contenu dépasse la hauteur max */
    display: flex;
    flex-direction: column;
    margin-top: 1%;
    border-bottom: 1px solid rgba(211, 211, 211, 0.207);
    

}

.sidebar-projet{
    display: flex;
    flex-direction: column;
}

.overlayAbout p{
    color: white;
}

.date{
    color: gray;
}

#post-date{
    display: flex;
    flex-direction: column;
}





.overlayAbout #about-title{
    color: white;
}

.post-cliked:hover{
    border: 1px solid black;
}

.inputpost {
  background-color: red;
}

.nav-mobile{
    display: none;
}

.contenair-infomobile{
    display: none;
}

